name: Go

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: build (${{ matrix.platform }})
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-24.04
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25.5"

      - name: Install librados
        run: |
          sudo apt-get update
          sudo apt-get install -y librados-dev

      - name: Build
        run: |
          go build
